@import 'cadmin-variables';

html#{$cadmin-selector} {
	.cadmin {
		.navigation-menu-items-tree {
			padding-left: 2rem;
			padding-top: 1rem;

			.treeview-dark {
				> .treeview-item > .treeview-link {
					color: $cadmin-white;
				}

				.component-expander {
					color: $cadmin-gray-400;

					&:hover {
						color: $cadmin-gray-400;
					}

					.lexicon-icon {
						background-color: $cadmin-gray-800;
						border-radius: 2px;
						height: 12px;
						padding: 3px;
						width: 12px;
					}
				}

				.treeview-link {
					background-color: transparent;
					color: $cadmin-gray-500;

					&:hover {
						color: $cadmin-white;
						text-decoration: underline;
					}

					&.selected {
						color: $cadmin-white;
						font-weight: $cadmin-font-weight-semi-bold;
					}

					a,
					button {
						color: inherit;
						text-decoration: none;

						&:hover,
						&:focus {
							color: inherit;
						}
					}
				}
			}
		}
	}
}
