<div class="component-dropdown">
	<div class="component-dropdown__content">
		<button aria-expanded="false" aria-haspopup="true" class="component-dropdown__button component-dropdown__button-${configuration.buttonSize} component-dropdown__button-${configuration.buttonType}" id="component-dropdown-${fragmentEntryLinkNamespace}" type="button">
			<span data-lfr-editable-id="dropdown-text" data-lfr-editable-type="text">Dropdown</span>

			<svg class="component-dropdown__icon" focusable="false" role="presentation">
				<use xlink:href="${siteSpritemap}#caret-bottom" />
			</svg>
		</button>

		<div aria-labelledby="component-dropdown-${fragmentEntryLinkNamespace}" class="component-dropdown__menu" style="display: none;">
			<lfr-drop-zone data-lfr-drop-zone-id="1"></lfr-drop-zone>
		</div>
	</div>
</div>