@import 'cadmin-variables';

@import '../../app/components/variables';

$collapseMarginBottom: $pageEditorSpacing * 2;

html#{$cadmin-selector} {
	.cadmin {
		.page-editor__collapse {
			cursor: pointer;

			.collapse-icon {
				background: none;
				border: none;
				color: $cadmin-gray-600;
				font-size: 12px;
				margin-bottom: $collapseMarginBottom;
				padding-left: 0;
				text-align: left;
				width: 100%;
			}

			.page-editor__collapse-old {
				margin-left: 16px;

				> .page-editor__collapse-content {
					margin-left: 16px;
				}
			}
		}
	}
}
