.component-external-video__error-message {
	background-color: #eef2fa;
	border: solid 0.0625rem #89a7e0;
	border-radius: 0.25rem;
	color: #2e5aac;
	font-size: 0.875rem;
	margin: 0;
	overflow-wrap: break-word;
	padding: 0.9375rem 1rem;
	white-space: normal;
	width: 100%;
	word-wrap: break-word;
}

.component-external-video__error-message[aria-hidden="true"] {
	display: none;
}

.component-external-video__error-message p {
	margin: 0;
}

.component-external-video {
	align-items: center;
	background: #fafafa;
	border-radius: 4px;
	box-shadow: inset 0 0 0 1px #aaa;
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
}

.component-external-video__container {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.component-external-video__container > * {
	height: 100%;
	width: 100%;
}

.component-external-video__mask {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.component-external-video__source {
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}