<div style="display: flex; justify-content: ${configuration.align};">
	<div class="component-external-video">
		<div aria-hidden="true" class="component-external-video__error-message" role="alert">
			<p>Please enter a valid video URL.</p>
			<p>The URL can point to any Facebook, Twitch, Vimeo or Youtube video.</p>
		</div>

		<div aria-hidden="true" class="component-external-video__loading-animation"></div>

		<div aria-hidden="true" class="component-external-video__container"></div>

		<div aria-hidden="true" class="component-external-video__mask"></div>
	</div>
</div>