.component-tabs {
	position: relative;
}

.component-tabs__navbar {
	background-color: #fff;
	border-bottom: solid 1px #f1f2f5;
	display: flex;
	flex-wrap: inherit;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}

.component-tabs__navbar-text {
	display: inline-block;
	max-width: 12.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: bottom;
	white-space: nowrap;
}

.component-tabs__navbar-tab-icon {
	border-left: 5px solid transparent;
	border-radius: 4px;
	border-right: 5px solid transparent;
	border-top: 5px solid #272833;
	height: 0.5rem;
	margin-left: 4px;
	margin-top: 4px;
	vertical-align: middle;
	width: auto;
}

.component-tabs__navbar-nav {
	display: flex;
	flex-wrap: inherit;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

@media (max-width: 767.98px) {
	.component-tabs__navbar-nav {
		flex-direction: column;
		padding-bottom: 0.5rem;
	}

	.component-tabs__collapse {
		background-color: inherit;
		left: 0;
		padding: 0;
		position: absolute;
		right: 0;
		top: 100%;
		z-index: 500;
	}
}

.component-tabs__nav-item {
	align-items: center;
	display: flex;
	max-width: 100%;
	word-wrap: normal;
}

.component-tabs__navbar-toggler,
.component-tabs__nav-link {
	background: none;
	border: none;
	color: #6b6c7e;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 7.5px 0;
	padding: 5.5px 16px;
	position: relative;
}

.component-tabs__navbar-toggler,
.component-tabs__nav-link.active {
	color: #272833;
	font-weight: 600;
}

.component-tabs__navbar-toggler {
	align-items: center;
	display: flex;
}

@media (min-width: 768px) {
	.component-tabs__navbar-toggler {
		display: none;
	}
}

.component-tabs__navbar-toggler::after,
.component-tabs__nav-link.active::after {
	background-color: #80acff;
	bottom: -0.53125rem;
	content: "";
	display: block;
	height: 0.25rem;
	left: 0;
	position: absolute;
	right: 0;
	width: auto;
}

@media (max-width: 767.98px) {
	.component-tabs__nav-link.active::after {
		display: none;
	}
}

.component-tabs__nav-link .component-tabs__navbar-text:focus {
	outline: none;
}

.component-tabs__collapse:not(.show) {
	display: none;
}

@media (min-width: 768px) {
	.component-tabs__collapse,
	.component-tabs__collapse:not(.show) {
		display: flex;
		width: auto;
	}
}