<div class="component-tabs">
	<nav class="component-tabs__navbar">
		<button aria-controls="navigationBarCollapse-${fragmentEntryLinkNamespace}" aria-expanded="false" aria-label="Tabs Toggle Navigation" class="component-tabs__navbar-toggler collapsed" data-toggle="collapse">
			<span class="component-tabs__navbar-text">Tab 1</span>
			<span class="component-tabs__navbar-tab-icon"></span>
		</button>

		<div class="component-tabs__collapse" id="navigationBarCollapse-${fragmentEntryLinkNamespace}">
			<ul class="component-tabs__navbar-nav" role="tablist">
				[#list 0..configuration.numberOfTabs-1 as i]
				<li class="component-tabs__nav-item" role="presentation">
					<button aria-controls="tabPanel${i+1}-${fragmentEntryLinkNamespace}" aria-selected="false" class="component-tabs__nav-link" data-fragment-namespace="${fragmentEntryLinkNamespace}" id="tab${i+1}-${fragmentEntryLinkNamespace}" role="tab">
						<span class="component-tabs__navbar-text" data-lfr-editable-id="title${i+1}" data-lfr-editable-type="text" data-lfr-priority="${i+1}" tabindex="-1">
							Tab ${i+1}
						</span>
					</button>
				</li>
				[/#list]
			</ul>
		</div>
	</nav>

	<div class="component-tabs__tab-panel">
		[#list 0..configuration.numberOfTabs-1 as i]
		<div aria-labelledby="tab${i+1}-${fragmentEntryLinkNamespace}" class="component-tabs__tab-panel-item" data-fragment-namespace="${fragmentEntryLinkNamespace}" id="tabPanel${i+1}-${fragmentEntryLinkNamespace}" role="tabpanel" tabindex="0">
			<lfr-drop-zone data-lfr-drop-zone-id="${i+1}" data-lfr-priority="${i+1}"></lfr-drop-zone>
		</div>
		[/#list]
	</div>
</div>