{{- $databaseUsername := "liferay_database_admin" -}}
{{- $env := index .context "apiextensions.crossplane.io/environment" -}}
{{- $searchUsername := "liferay_search_admin" -}}
{{- $xr := .observed.composite.resource -}}

{{- $backup := $xr.spec.backup -}}
{{- $clusterSubnetIds := $env.clusterSubnetIds | fromJson -}}
{{- $cmkEnabled := $xr.spec.cmk.enabled -}}
{{- $environmentId := $xr.spec.environmentId -}}
{{- $forceDestroy := $xr.spec.forceDestroy -}}
{{- $managementPolicies := $xr.spec.orphanOnDelete | ternary (list "Create" "Observe" "Update") (list "*") | toJson -}}
{{- $namespace := $xr.metadata.namespace -}}
{{- $opensearch := $xr.spec.search.opensearch -}}
{{- $opensearchEnabled := eq $xr.spec.search.engine "opensearch" -}}
{{- $overlayAccess := $xr.spec.overlayAccess -}}
{{- $projectId := $xr.spec.projectId -}}
{{- $restorePhase := $xr.spec.restorePhase -}}
{{- $targetActiveDataPlane := $xr.spec.targetActiveDataPlane -}}

{{- $activeDataPlane := eq $restorePhase "provisioning" | ternary (eq $targetActiveDataPlane "blue" | ternary "green" "blue") $targetActiveDataPlane -}}
{{- $overlayBucketName := printf "%s-overlay-%s" $env.deploymentName (printf "%.18s-%s" $projectId (printf "%s-%s-%s" $env.accountId $env.deploymentName $projectId | sha256sum | trunc 6)) -}}
{{- $projectIdFull := printf "%s-%s" $projectId $environmentId -}}

{{- $baseName := printf "%.18s-%s" $projectIdFull (printf "%s-%s-%s" $env.accountId $env.deploymentName $projectIdFull | sha256sum | trunc 6) -}}

{{- $searchName := printf "%.21s-search" $baseName -}}
{{- $storageName := printf "%s-%s-storage" $env.accountId $baseName -}}